.App {
    min-height: 100vh;
}

aside {
    transition: 0.4s;
    z-index: 1;   
}

@media (max-width: 576px) {
    aside {
        font-size: smaller;
    }
     aside h4 {
        height: 20px;
    }
    aside h3 {
        font-size: 1.5em;
    }
}
